In [22]:
import pandas as pd

In [24]:
df = pd.read_parquet('../data/raw/01/MatchEventInfo.parquet')

In [25]:
df[df['winner_code'].isnull()]

,match_id,first_to_serve,home_team_seed,away_team_seed,custom_id,winner_code,default_period_count,start_datetime,match_slug,final_result_only
241,12287007,2.0,WC,None,CrJscCjh,NaN,3,1714495500,miguel-villanueva,False
245,12287010,NaN,None,None,BlBsoPij,NaN,3,1714478400,midon-sakamoto,True
252,12288050,NaN,3,None,RCvsVlec,NaN,3,1714479000,stearns-vickery,True
253,12288414,NaN,None,None,afgesWMgi,NaN,3,1714595700,habib-hilderbrand-stepanov-urrea,False
254,12288414,NaN,None,None,afgesWMwe,NaN,3,1714591200,habib-hilderbrand-stepanov-urrea,False
...,...,...,...,...,...,...,...,...,...,...
19389,12379710,NaN,None,None,AHtsgjuc,NaN,3,1717063200,klimovicova-raina,True
19391,12379712,NaN,None,None,EMUsRghb,NaN,3,1717074000,bozovic-fung,False
19394,12379723,NaN,None,None,oKbcoeWHc,NaN,3,1717074000,nesterov-bellifemine,False
19535,12381829,NaN,None,None,zFFcsbFdd,NaN,3,1717098000,artnak-pecci,False
19536,12381829,NaN,None,None,zFFcsbFed,NaN,3,1717094400,artnak-pecci,False

In [19]:
df = pd.read_parquet('../data/raw/01/GameInfo.parquet')

,match_id,set_id,game_id,point_id,home_point,away_point,point_description,home_point_type,away_point_type,home_score,away_score,serving,scoring
28259,12287007,1,1,2,15,30,0,1,5,0,1,2,2
28260,12287007,1,1,3,15,40,0,5,1,0,1,2,2
28257,12287007,1,1,0,0,15,0,5,1,0,1,2,2
28261,12287007,1,1,4,30,40,0,1,5,0,1,2,2
28258,12287007,1,1,1,0,30,0,5,1,0,1,2,2
28253,12287007,1,2,0,15,0,0,1,5,1,1,1,1
28256,12287007,1,2,3,40,15,0,1,5,1,1,1,1
28254,12287007,1,2,1,30,0,0,1,5,1,1,1,1
28255,12287007,1,2,2,30,15,2,5,1,1,1,1,1
28252,12287007,1,3,3,15,40,0,5,1,1,2,2,2
28250,12287007,1,3,1,0,30,0,5,1,1,2,2,2
28249,12287007,1,3,0,0,15,0,5,1,1,2,2,2
28251,12287007,1,3,2,15,30,0,1,5,1,2,2,2
28244,12287007,1,4,0,15,0,0,1,5,1,3,1,2
28246,12287007,1,4,2,15,30,2,5,1,1,3,1,2
28245,12287007,1,4,1,15,15,2,5,1,1,3,1,2
28247,12287007,1,4,3,30,30,0,1,5,1,3,1,2
28248,12287007,1,4,4,30,40,0,5,2,1,3,1,2
28243,12287007,1,5,3,15,40,0,1,5,1,4,2,2
28240,12287007,1,5,0,0,15,0,5,1,1,4,2,2
28242,12287007,1,5,2,0,40,0,5,1,1,4,2,2
28241,12287007,1,5,1,0,30,0,5,1,1,4,2,2
28238,12287007,1,6,3,40,15,0,1,5,2,4,1,1
28235,12287007,1,6,0,15,0,0,1,5,2,4,1,1
28236,12287007,1,6,1,15,15,0,5,1,2,4,1,1
28237,12287007,1,6,2,30,15,0,1,5,2,4,1,1
28239,12287007,1,6,4,40,30,0,5,1,2,4,1,1
28230,12287007,1,7,4,30,40,0,5,1,2,5,2,2
28227,12287007,1,7,1,0,30,0,5,1,2,5,2,2
28228,12287007,1,7,2,15,30,0,1,5,2,5,2,2
28229,12287007,1,7,3,30,30,0,1,5,2,5,2,2
28231,12287007,1,7,5,40,40,0,1,5,2,5,2,2
28226,12287007,1,7,0,0,15,0,5,1,2,5,2,2
28233,12287007,1,7,7,40,40,0,1,5,2,5,2,2
28232,12287007,1,7,6,40,A,0,5,1,2,5,2,2
28234,12287007,1,7,8,40,A,0,5,1,2,5,2,2
28225,12287007,1,8,2,0,40,0,5,3,2,6,1,2
28224,12287007,1,8,1,0,30,0,5,1,2,6,1,2
28223,12287007,1,8,0,0,15,0,5,1,2,6,1,2

In [20]:
df[df['match_id'] == 12287007].sort_values(by='game_id', ascending=True)

,match_id,set_id,game_id,point_id,home_point,away_point,point_description,home_point_type,away_point_type,home_score,away_score,serving,scoring
28259,12287007,1,1,2,15,30,0,1,5,0,1,2,2
28260,12287007,1,1,3,15,40,0,5,1,0,1,2,2
28257,12287007,1,1,0,0,15,0,5,1,0,1,2,2
28261,12287007,1,1,4,30,40,0,1,5,0,1,2,2
28258,12287007,1,1,1,0,30,0,5,1,0,1,2,2
28253,12287007,1,2,0,15,0,0,1,5,1,1,1,1
28256,12287007,1,2,3,40,15,0,1,5,1,1,1,1
28254,12287007,1,2,1,30,0,0,1,5,1,1,1,1
28255,12287007,1,2,2,30,15,2,5,1,1,1,1,1
28252,12287007,1,3,3,15,40,0,5,1,1,2,2,2
28250,12287007,1,3,1,0,30,0,5,1,1,2,2,2
28249,12287007,1,3,0,0,15,0,5,1,1,2,2,2
28251,12287007,1,3,2,15,30,0,1,5,1,2,2,2
28244,12287007,1,4,0,15,0,0,1,5,1,3,1,2
28246,12287007,1,4,2,15,30,2,5,1,1,3,1,2
28245,12287007,1,4,1,15,15,2,5,1,1,3,1,2
28247,12287007,1,4,3,30,30,0,1,5,1,3,1,2
28248,12287007,1,4,4,30,40,0,5,2,1,3,1,2
28243,12287007,1,5,3,15,40,0,1,5,1,4,2,2
28240,12287007,1,5,0,0,15,0,5,1,1,4,2,2
28242,12287007,1,5,2,0,40,0,5,1,1,4,2,2
28241,12287007,1,5,1,0,30,0,5,1,1,4,2,2
28238,12287007,1,6,3,40,15,0,1,5,2,4,1,1
28235,12287007,1,6,0,15,0,0,1,5,2,4,1,1
28236,12287007,1,6,1,15,15,0,5,1,2,4,1,1
28237,12287007,1,6,2,30,15,0,1,5,2,4,1,1
28239,12287007,1,6,4,40,30,0,5,1,2,4,1,1
28230,12287007,1,7,4,30,40,0,5,1,2,5,2,2
28227,12287007,1,7,1,0,30,0,5,1,2,5,2,2
28228,12287007,1,7,2,15,30,0,1,5,2,5,2,2
28229,12287007,1,7,3,30,30,0,1,5,2,5,2,2
28231,12287007,1,7,5,40,40,0,1,5,2,5,2,2
28226,12287007,1,7,0,0,15,0,5,1,2,5,2,2
28233,12287007,1,7,7,40,40,0,1,5,2,5,2,2
28232,12287007,1,7,6,40,A,0,5,1,2,5,2,2
28234,12287007,1,7,8,40,A,0,5,1,2,5,2,2
28225,12287007,1,8,2,0,40,0,5,3,2,6,1,2
28224,12287007,1,8,1,0,30,0,5,1,2,6,1,2
28223,12287007,1,8,0,0,15,0,5,1,2,6,1,2

In [21]:
df[df['match_id'] == 12287010].sort_values(by='game_id', ascending=True)

Empty DataFrame
Columns: [match_id, set_id, game_id, point_id, home_point, away_point, point_description, home_point_type, away_point_type, home_score, away_score, serving, scoring]
Index: []